asgiref==3.8.1
asttokens==2.4.1
attrs==24.2.0
cfgv==3.4.0
click==8.1.7
colorama==0.4.6
coverage==7.6.7
decorator==5.1.1
distlib==0.3.8
dj-database-url==2.3.0
Django==5.1.1
django-debug-toolbar==4.4.6
django-environ==0.11.2
django-filter==24.3
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.27.2
executing==2.0.1
filelock==3.15.4
git-filter-repo==2.45.0
h11==0.14.0
identify==2.6.2
idna==3.10
inflection==0.5.1
iniconfig==2.0.0
ipdb==0.13.13
ipython==8.26.0
jedi==0.19.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
matplotlib-inline==0.1.7
nodeenv==1.9.1
oauthlib==3.2.2
packaging==24.1
parso==0.8.4
pillow==10.4.0
platformdirs==4.2.2
pluggy==1.5.0
pre_commit==4.0.1
prompt_toolkit==3.0.47
psycopg2==2.9.10
pure-eval==0.2.2
pycparser==2.22
Pygments==2.18.0
PyJWT==2.9.0
pytest==8.3.3
pytest-cov==6.0.0
pytest-django==4.9.0
python-decouple==3.8
PyYAML==6.0.2
referencing==0.35.1
rpds-py==0.20.0
six==1.16.0
sqlparse==0.5.1
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.3
uvicorn==0.32.0
virtualenv==20.27.1
wcwidth==0.2.13
